extends ./layout
block body
  .fourohfour
    .ocean
      img.fishy(src='http://sailsjs.org/images/fishy4.png')
    .main
      h1
        | Something's fishy here.
      h2
      p.help
        a(href='http://en.wikipedia.org/wiki/HTTP_404') Why
        |  might this be happening?
    .logo
      a(href='http://sailsjs.org')
        img(src='http://sailsjs.org/images/logo.png')
